@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    font-family: Roboto;
}

header{
    display: flex;
    flex: 1;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.burger{
    display: block;
    cursor: pointer;
    flex:1;
}

.burgerLine{
    background-color: rebeccapurple;
    width: 17px;
    height: 2px;
    margin: 3px;
}

.dropdownBurger {
    float: left;
    overflow: hidden;
  }
  
  .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 0;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdownBurger-content {
    display: none;
    position: absolute;
    left:20px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdownBurger-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: 600;
  }
  
  .dropdownBurger-content p{
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 15px;
  }

  .dropdownBurger-content a:hover {
    background-color: rgb(241, 241, 241);
  }
  
  .dropdownBurger:hover .dropdownBurger-content {
    display: block;
  }


.headerList{
    display: none;
}

.headerLinks{
    font-weight: 600;
}

.links{
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 100px;
    background: none;
    border: none;
    font-weight: 600;
}

.active{
    color: white;
    background: rebeccapurple;
}

.links:hover{
    cursor: pointer;
    background: rgb(241, 241, 241);
}

.active:hover{
    color: white;
    background: rebeccapurple;
}

.searchBarContainer{
    display: none;
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 100px;
    background: rgb(241, 241, 241);
    border: none;
    font-weight: 400;
}

.searchIcon{
    margin-right: 10px;
    margin-left: 10px;
    
}

.searchBar{
    margin-right: 10px;
    flex: 1;
    font-weight: 600;
    border: none;
    background: none;
}

.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right:0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(241, 241, 241);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.dropdownIcon{
}

.profile{
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.dp{
    height: 120px;
    width: 120px;
    border-radius: 100px;
    border: none;
}

.username{
    font-weight: 500;
}

.followers{
    font-weight: 600;
}

.toolbar{
    display: flex;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.addButton{
    cursor: pointer;
}


.dropdownAddButton {
    float: left;
    overflow: hidden;
  }
  
  .dropdownAddButton-content {
    display: none;
    position: absolute;
    left:20px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdownAddButton-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: 600;
  }
  
  .dropdownAddButton-content p{
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 15px;
  }

  .dropdownAddButton-content a:hover {
    background-color: rgb(241, 241, 241);
  }
  
  .dropdownAddButton:hover .dropdownAddButton-content {
    display: block;
  }

.imageContainer{
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    flex: 1;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 15px;
    row-gap: 15px;
}

.gridItem{
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.gridItemDetails{
    padding: 10px;
}

.gridItemHeading{
    margin-bottom: 5px;
}

.gridItemDescription{
    font-size: 12px;
}

.displayImage{
    width: 100%;
    border-radius: 20px;
}

@media(min-width:500px){
    .imageContainer{
        grid-template-columns: repeat(2, 1fr);}
}

@media(min-width:800px){
    .headerList{
        display: flex;
    }
    .burger{display: none;}
    .searchIconOnly{display: none;}
    .searchBarContainer{
        display: flex;
    }
    .imageContainer{
        grid-template-columns: repeat(3, 1fr);
        padding-left: 10px;
        padding-right: 10px;}
}

@media(min-width:1000px){
    .imageContainer{
        grid-template-columns: repeat(4, 1fr);
        padding-left: 20px;
        padding-right: 20px;}
}

@media(min-width:1200px){
    .imageContainer{
        grid-template-columns: repeat(5, 1fr);
        padding-left: 20px;
        padding-right: 20px;}
}

@media(min-width:1400px){
    .imageContainer{
        grid-template-columns: repeat(6, 1fr);
        padding-left: 50px;
        padding-right: 50px;}
}