  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 600ms;
    
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
      margin:auto;
      margin-top: 30px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 80%;
    position: relative;
    transition: all 1s ease-in-out;
  }

  .popupHeader{
    display: flex;
    align-items: center;
  }
  
  .popupHeading {
      flex:1;
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .close {
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }


.textFieldContainer{
  display: flex;
  flex: 1;
}

.textField, .createButton{
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 10px;
  font-weight: 600;
}

.textField{
  width: 100%;
  border: 1px solid #91b0b3;
  background: none;
}

.createButton{
  cursor: pointer;
  border: none;
  color: white;
  background: rebeccapurple;
}

.createButton:hover{
  
  background: rgb(79, 39, 119);
}

  @media(min-width:800px){
      .popup{width: 40%;}
  }