@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    font-family: Roboto;
}

.posts{
    display: flex;
    min-height: 100vh;
}

.leftPosts{
    display: none;
    flex:0.15;
    background-color: #181c65;
}

.searchBar{
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #050a5a;
    border-radius: 10px;
}

.search{
    color: white;
    border: none;
    background: none;
    width: 100%;
}

.searchIcon{
    margin-left: 10px;
}

.middlePosts{
    flex: 1;
    background-color: #030542;

}

.postImageDiv{
    height: 200px;
}

.postSection{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    position: relative;
    background: none;
    height: 300px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0);
    transition: box-shadow 0.6s;
  }
  
  .postSection:hover{
    box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.8);
    transition: box-shadow 0.6s;
  }

  .postImage{
    cursor: pointer;
    border: none;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .infDetails{
    position: absolute;
    display: flex;
    top: 0px;
    left: 0px;
    margin: 10px;
    border-radius: 100px;
    color: white;
    background-color: rgba(80, 24, 185, 0.8);
    padding: 10px;
    padding-right: 20px;
  
  }
  
  .infDp{
    height: 40px;
    width: 40px;
    border-radius: 30px;
  }
  
  .dpImage{
    cursor: pointer;
    border-radius: 30px;
    height: 100%;
    width: 100%;
    object-fit: cover;
   
  }
  
  .influencer{
    padding-left: 10px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
  }
  
  .influencer .name{
    cursor: pointer;
    margin-bottom: -2px;
  }
  
  .influencer .time{
    margin-top: -2px;
  }
  
  .postDetails{
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
  }
  
  .postBlog{
    cursor: pointer;
    position: relative;
    bottom: 0px;
    right: 0px;
    left: 0px;
    opacity: 0;
    transition: opacity 0.6s;
    -webkit-transition: opacity 0.6s;
    /* white-space: nowrap;
    text-overflow: ellipsis; 
    overflow: hidden; */
    font-size: 17px;
    font-weight: 500;
    color: white;
    background-color: rgba(99, 32, 224, 0.800);
    padding: 20px;
  }
  
  .postBlog:hover{
    opacity: 1;
    transition: opacity 0.6s;
  }

.rightPosts{
    display: none;
    flex: 0.6;
    background-color: #030542;
}

@media(min-width:1200px){
  .leftPosts{display: block;}
  .middlePosts{flex: 0.25;}
  .rightPosts{display: block;}
}